/* General rules*/

:root {
  --background-color: #2f303a;
  --logo-color: #2196f3;
  --chapter-color: #212121;
  --description-color: #757575;
  --light-color: #fff;
  --btn-order-hov-color: #188ce8;
  --btn-order-shad-color: rgba(0, 0, 0, 0.15);
  --btn-filter-color: #f5f4fa;
  --team-color: #f5f4fa;
  --con-foot-color: rgba(255, 255, 255, 0.6);
  --social-icon: #AFB1B8;
  --project-border: #eeeeee;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--chapter-color);
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*Header*/

.header {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  border-bottom: 1px solid #ececec;
  background-color: var(--light-color);
  /* padding-top: 25px;
  padding-bottom: 25px; */
}
.header-logo{
  padding-top: 25px;
  padding-bottom: 25px;
}
.hdr-container {
  display: flex;
  align-items: center;
}
.hdr-navigation {
  display: flex;
}
.hdr-list {
  display: flex;
  margin-left: 93px;
  align-items: center;
}
.hdr-list-item {
  margin-right: 50px;
}
.hdr-list-item:last-child {
  margin-right: 0px;
}
.hdr-connect {
  display: flex;
  margin-left: auto;
}
.hdr-tel {
  margin-left: 50px;
}
.st-logo {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--logo-color);
}
.end-logo {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000;
}
.nav {
  color: var(--chapter-color);
  text-align: center;
  padding-top: 32px;
  padding-bottom: 32px;
}
.contacts-header {
  display: flex;
  align-items: center;
  color: var(--description-color);
  padding-top: 32px;
  padding-bottom: 32px;
}
.contacts-icon {
  object-fit: contain;
  object-position: center;
  margin-right: 10px;
  fill: currentColor;
}
.current,
.nav:hover,
.nav:focus,
.contacts-header:hover,
.contacts-header:focus,
.contacts-footer:hover,
.contacts-footer:focus {
  color: var(--logo-color);
  fill: var(--logo-color);
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/*MAIN*/

.hero {
  background: var(--background-color);
  text-align: center;
  padding: 200px 0;
  max-width: 1600px;
  background-image: linear-gradient(
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)
  ),
  url(../images/hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.hero-content {

}
.hero-text {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--light-color);
  margin-bottom: 30px;
}
.btn-order {
  cursor: pointer;
  background: var(--logo-color);
  box-shadow: 0px 4px 4px var(--btn-order-shad-color);
  border-radius: 4px;
  border-width: 0px;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--light-color);
  margin: 0 auto;
  padding: 10px 32px;
}
.btn-order:hover {
  background: var(--btn-order-hov-color);
  box-shadow: 0px 4px 4px var(--btn-order-shad-color);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--light-color);
}
.supremacy {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.supr-list {
  display: flex;
  justify-content: space-between;
}
.supr-item {
  width: 270px;
}
.supremacy-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--description-color);
}
.supr-icon{
  height: 120px;
  background-color: var(--team-color);
  padding: 25px 100px;
  border-radius: 4px;
  margin-bottom: 30px;
}
.activities-section {
  padding-top: 0px;
}
.activities {
  display: flex;
  justify-content: space-between;
}
.team-color {
  background: var(--team-color);
}
.team-list {
  display: flex;
}
.team-item {
  width: 270px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  padding-bottom: 30px;
}
.team-item:not(:last-child) {
  margin-right: 30px;
}
.chapter {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}
.name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 30px;
  margin-bottom: 10px;
}
.specialty {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--description-color);
}
.social-list{
  display: flex;
  padding: 16px 32px 0px;
  justify-content: space-between;
}
.social-link{
  display: flex;
  padding: 12px;
  fill: var(--social-icon);
}
.social-link:hover,
.social-link:focus{
  background-color: var(--logo-color);
  border-radius: 75%;
  fill: var(--light-color);
}
.clients-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.client-item{
display: block;
padding: 16px 32px;
border: 1px solid var(--social-icon);
border-radius: 4px;
fill: var(--social-icon);
}
.client-item:hover,
.client-item:focus{
fill: var(--logo-color);
border-color: var(--logo-color);
}

/*FOOTER*/

.footer {
  background: var(--background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.ftr-address {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.end-logo-footer {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--light-color);
}
.address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--light-color);
}
.contacts-footer {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--con-foot-color);
}
.ftr-item:not(:first-child) {
  margin-top: 9px;
}
.ftr-container{
display: flex;
}
.join-us{
margin-left: 70px;
padding: 12px 0px 40px;
}
.join-us-text{
  margin-bottom: 20px;
  font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--light-color);
}
.ftr-social-list{
  display: flex;
}
.ftr-social-link{
  display: flex;
  padding: 12px;
  margin-right: 10px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  fill: var(--light-color);
}
.ftr-social-link:focus,
.ftr-social-link:hover{
  background-color: var(--logo-color);
}

/*PORTFOLIO*/

.project-name {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}
.project-category {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--description-color);
}
.project-text {
  padding: 20px 24px;
}
.btn-filter {
  cursor: pointer;
  background: var(--btn-filter-color);
  border-radius: 4px;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  height: 38px;
  padding: 6px 22px;
  border: 0px;
}
.btn-filter:active {
  background: var(--logo-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--light-color);
}
.btn-filter:hover,
.btn-filter:focus{
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
  0px 2px 2px rgba(0, 0, 0, 0.12);
}
.filter-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 50px;
}
.filter-item:not(:last-child) {
  margin-right: 8px;
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
}
.flex-item {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
  border: 1px solid var(--project-border);
  box-sizing: border-box;
}
.flex-item:nth-child(3n) {
  margin-right: 0px;
}
.flex-item:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}
.flex-item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}